*.war
*.ear
.classpath
.project
.settings
target

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse

.idea
*.lck
*.log
localDB.properties
*.iml

# Play
logs
project/project
project/target
.history
dist
out
RUNNING_PID
*.cache
