<!DOCTYPE html>
<html ng-app="test">
<head>
<title>Inicio</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-dialog.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="@routes.Assets.at("javascripts/choose.js")"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">

					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">Trivial3b</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="col-xs-10 col-xs-offset-1 primerElemento">
		<h3>Hola @session.get("id")!</h3>
		<br />

			<h4>Elige un modo de juego:</h4>
			<select id="modo">
				<option>Multijugador en local</option>
				<option>Multijugador en red</option>
			</select>

			<h4>Elige un tablero</h4>
			<select id="tablero" ng-model="currentValue" ng-options="item.name for item in opciones"
			ng-change="change(currentValue)">
			</select>
			<button type="submit" class="btn btn-primary" ng-click="redirect()">Jugar</button>
		<br />

		<div class="row">
			<div class="col-xs-offset-1 col-xs-5 col-md-offset-2 col-md-4">
				<a href="#" class="thumbnail">
					<img src="@routes.Assets.at("images/trivial4.jpg")" alt="Tablero cuadrado">
				</a>
			</div>

			<div class="col-xs-offset-1 col-xs-5 col-md-4">
				<a href="#" class="thumbnail">
					<img src="@routes.Assets.at("images/trivial5.jpg")" alt="Tablero circular">
				</a>
			</div>
		</div>
	</div>
</body>
</html>
