@import game._
@(salas: Map[String,GameService],usuario: String)
<!DOCTYPE html>
<html>
<head>
<title>Inicio</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-dialog.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">

					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">Trivial3b</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/choice">Jugar</a></li>
					<li><a href="/findGame">Buscar Partida</a></li>
					<li><a href="/deleteGame">Eliminar Partida</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="panel" class="panel panel-default">
  <div class="panel-heading">Partidas en curso</div>
  <div class="panel-body">
    @for(key<-salas.keySet()){
    	@if(salas.get(key).CurrentTurnPlayer().getId().equals(usuario)){
    	<div>
    	<button class="btn btn-default" onclick="location.href='unirse/@salas.get(key).getId()'">Unirse a la partida: @salas.get(key).getId()  Creada por el usuario: @salas.get(key).getPlayers().get(0).getId()<br>
    	Jugadores en la partida:@salas.get(key).getPlayers().size() /6
    	</button>
    	</div>
    	}
    }
  </div>
</div>
	</body>
	</html>