@import game._
@(coordenadas: List[String], game: GameService, centrosx: List[String], centrosy: List[String], centrosximages: List[String], centrosyimages: List[String],usuario: String)
<!DOCTYPE html>
<html>
<head>
<title>Inicio</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-dialog.js")"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">

					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">Trivial3b</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="primerElemento">
		@if(game.getQuestionGiven()!=null){
		<script type="text/javascript">
			$(document).ready(function() {
				$("#dialog").modal("show");
			});
		</script>
		<div id="dialog" class="modal fade" data-backdrop="static"
			data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">@game.getQuestionGiven().getQuestion()</h4>
					</div>
					<div class="modal-footer">
						@for(respuesta <- game.getQuestionGiven().getWrongAnswers()){
						<button class="btn btn-default" type="submit"
							onclick="location.href='/respuestaIncorrecta';playFallo();">@respuesta</button>
						}
						<button class="btn btn-default" type="submit"
							onclick="location.href='/respuestaCorrecta';playAcierto();">@game.getQuestionGiven().getCorrectAnswer()</button>
					</div>
				</div>
			</div>
		</div>
		}
		<div class="divPlayers">
			@for(player <- game.getPlayers()){
			<div class="players">
				<div class="panel panel-default">
					<div class="panel-body">
						@player.getId()
						<div class="row">
							@for(k<-0 until player.getCategorias().size()){
							@if(player.getQuesitos().get(player.getCategorias().get(k))==null){
							<div class="col-xs-4">
								<img alt="" src="@routes.Assets.at("images/figuritabn"+(k+1)+".png")">
							</div>
							} else {
							<div class="col-xs-4">
								<img alt="" src="@routes.Assets.at("images/figurita"+(k+1)+".png")">
							</div>
							} }
						</div>
					</div>
				</div>
			</div>
			}
			<div class="rightFloated">
				<form action="/tirar" method="post">
					<label class="alignLabel">@game.getDiceNumber()</label>

					<button class="btn btn-primary" value="Tirar Dado" type="submit"
						@if(!game.canThrowDice() || !game.CurrentTurnPlayer().getId().equals(usuario)){disabled="disabled"}>Tirar Dado</button>

				</form>
			</div>
		</div>

		<div class="gameBoard">
			<svg>
			@if(game.getTipo()==1){
				<image usemap="#mapa" height="540" width="540"
					xlink:href="@routes.Assets.at("images/trivial5.jpg")" />
				}
			@if(game.getTipo()!=1){
				<image usemap="#mapa" height="540" width="540"
					xlink:href="@routes.Assets.at("images/trivial4.jpg")" />
				}
				<!-- Imagenes @for(player<-game.getPlayers()){
				<image x="player.getPosition().getId()*60" y="0" height="20" usemap="#mapa" width="20" xlink:href="@routes.Assets.at("images/cienciasbn.png")" />
				}-->

				@for(pl<-0 until game.getPlayers().size()){
					@for(i<-0 until coordenadas.size()){
						@if(i+1 == game.getPlayers().get(pl).getPosition().getId()){
					    	<image x="@centrosximages.get(i)" y="@centrosyimages.get(i)"
					height="40" width="40" usemap="#mapa"
					xlink:href="@routes.Assets.at("images/figurita"+(pl+1)+".png")" />
					    }
				    }
			    }
				@if(game.getMoves()!=null && game.canMove()){
					@for(i <- 0 until coordenadas.size()){
						@for(casilla <- game.getMoves()){
							@if(i+1 == casilla.getId()){
								<circle cx="@centrosx.get(i)" cy="@centrosy.get(i)" r="10"
					stroke="black" stroke-width="3" fill="black" />
					    		<polygon id="@i" onclick="location.href='jugar/@i'"
					class="polygonStyle" fill-opacity="0.0"
					points="@coordenadas.get(i)" />
					    	}
				    	}
				    }
			    }			  
			</svg>
		</div>
	</div>
</body>
</html>
