@(coordenadas: List[String],dado: Long)
<!DOCTYPE html>
<html>
	<head>
    	<title>Inicio</title>
	
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  </head>
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Trivial3b</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout">Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
	</nav>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse"data-target=".navbar-ex1-collapse"/>
	    <a class="navbar-brand" href="#">Logotipo</a>
	  </div>
	 
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav right">
	      <li><a href="/logout">Cerrar sesión</a></li>
	    </ul>
	  </div>
	</nav>
	<form action="/tirar" method="post">
	<label style="margin-left:83%; font-size:250%">@dado</label>
	<button class="btn btn-primary" value="Tirar Dado" style="margin-left:85%" type="submit">Tirar Dado</button>
	</form>
	<svg style="background-image:url('@routes.Assets.at("images/trivial5.jpg")'); margin-left:30%; margin-top:2%" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" width="540px" height="540px">
	@for(i<-0 until coordenadas.size){
    <polygon id="@i" onclick="location.href='jugar/@i'" style="cursor:pointer" fill-opacity="0.0" points="@coordenadas.get(i)"/>
    }
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="black"/>
    </svg>
    <script>
    function jugar(int i){
    	
    		location.href='/prueba/'+i;
    	
    }
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"/>
    <script src="@routes.Assets.at("javascript/bootstrap.min.js")"/>
</body>
</html>