.estrecho {
	margin-left: 35%;
	margin-right: 35%;
}

.primerElemento {
	margin-top: 5em;
}

.modal-footer {
	display: table;
}

.loginCentrado {
	margin-top: 10em;
}

.margenIzq {
	margin-left: 1em;
}

.margenInferior {
	margin-bottom: 2em;
}

.filtros {
	margin-top: 7.2em;
}

.tablalink {
	cursor: pointer;
}

.polygonStyle {
	cursor: pointer;
	width: 140px;
	height: 140px;
	background-color: red;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px
}

.divPlayers {
	margin-left: 1em;
	margin-rigth: 1em;
	width: 25%;
	font-size: 250%;
	display: inline-table;
}

.gameBoard {
	text-align: center;
	float: left;
	margin-left: 13em;
}

.gameBoard>svg {
	width: 540px;
	height: 540px;
}

.alignLabel {
	font-size: 200%;
	vertical-align: middle;
	margin-bottom: unset;
}

.rightFloated {
	float: right;
	margin-right: 25px;
	text-align: center;
}